<html class="page-home">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pickle Finance</title>
  {% include meta.html %}
  {% include tag_manager.html %}
  {% include styles.html %}
  <header class="bg">
    <div class="container narrow">
      <img src="/images/logo-pickle.png" />
      <strong>Pickle in a Nutshell</strong>
      <h1>Pickle Finance</h1>
      <p>If you’re new to Pickle and curious to learn more, you’ve come to the right place.</p>
    </div>
  </header>
  <main>
    <section class="bg">
      <div class="container">
        {% include reasons.html %}
      </div>
    </section>
  </main>
  {% include footer.html %}
</html>